<footer>
    <div class="footer-container">


        <div class="footer-links">

            <ul>
                <li><a href="#">Om oss</a></li>
                <li><a href="#">Program</a></li>
                <li><a href="#">Forskning</a></li>
                <li><a href="#">Bibliotek</a></li>
                <li><a href="#">Kontakta oss</a></li>
            </ul>
            <br>
            <div class="footer-social">
                <div class="social-icons">

                    <a href="https://www.facebook.com" target="_blank"><i class="pi pi-facebook"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="pi pi-twitter"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="pi pi-linkedin"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>TypeScript Universitetet erbjuder högkvalitativ utbildning och forskning. Vi strävar efter att inspirera
                och skapa framtidens ledare.</p>
            <p><i class="fa-solid fa-phone"></i> Telefon: +46 123 456 789</p>
            <p><i class="fa-solid fa-location-dot"></i> Adress: Fiktiva Vägen 1, 123 45 Exempelstad, Sverige</p>
        </div>

        <div class="footer-logo">
            <a href="#"><img src="../../../assets/images/logo_Light.png"
                    alt="Fiktiva Universitetets logo"></a>
        </div>
    </div>
    <div class="credits">
        <h1>Skapat med Angular <i class="fa-brands fa-angular" style="color: #fe3939;"></i> av Maamoun Okla &copy; 2024</h1>
        <a href="https://github.com" target="_blank" [ngStyle]="{backgroundColor: 'var(--surface-900)'}">
            <i class="pi pi-github github-icon"></i> Github Repo
        </a>
    </div>
    
 
</footer>