footer{
  background-image: linear-gradient(rgba(5, 24, 101, 0.553), rgba(28, 10, 78, 0.734), rgba(5, 24, 101, 0.553)), url(../../../assets/images/3.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px) brightness(0.7);
  color: rgb(235, 229, 255);
  font-size: 1.4rem;
  padding: 1rem 4rem;
}
.footer-container {


  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content:center;
  align-items: center;
 
}

footer h1 {
  font-size: 1.2rem;
}

footer h2 {
  font-size: 1rem;
}

footer p, footer ul, footer h2 {
  margin: 0.5rem 0;
}

.footer-info, .footer-links, .footer-social   {
  flex: 0.3;
  text-align: center;
  min-width: 250px;
}
.footer-social{
  display: flex;
  justify-content: center;
}
@layer primeng {
  .pi {
    font-size: 2rem;
  }
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-logo img {
  width: 350px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 0.5rem 0;
}

.footer-links a {
  color: rgb(222, 211, 255);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff9797;
}

.footer-social .social-icons {
  display: flex;
  gap: 1rem;
}

.footer-social .social-icons a {
  color: rgb(138, 196, 254);
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-social .social-icons a:hover {
  color: #39f4fe;
  scale: 1.1;
}
.credits {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.credits h1 {
  font-size: 1rem;
  font-weight: 400;
}

.credits a {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Add some spacing between the icon and text */
  font-size: 1rem;
  min-width: fit-content;
  border-radius: 0.4rem;
  color: white;
  padding: 0.4rem;
  box-shadow: 0 0 10px rgb(235, 244, 255);
  text-decoration: none; /* Remove underline from link */
}

.credits .github-icon {
  font-size: 1rem; /* Adjust the font size to make the icon smaller */
}
.credits a:hover {
  color: #39f4fe;
  scale: 1.1;
}