<footer>
    <div class="footer-info">
        <h1>Skapat med Angular <i class="fa-brands fa-angular" style="color: #fe3939;"></i> av Maamoun Okla &copy; 2024</h1>
        <br><br>
        <h2><i class="fa-solid fa-envelope"></i> &nbsp; &nbsp;<a href="mailto:maok1900@student.miun.se">kontakt via e-post  </a>
        </h2>
 
        
    </div>
    <div class="footer-logo">
       <a href="https://www.miun.se/"> <img src="../../assets/logo.png" alt="mittuniversitets-logo"></a>
    </div>
</footer>