 
<header>
    <nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul>
            <img src="../../../assets/images/logo_Light.png" alt="">
            <li><a routerLink="/home" routerLinkActive="current">Hem</a></li>
            <li><a routerLink="/education" routerLinkActive="current">Utbildning</a></li>
            <li><a routerLink="/ramschema" routerLinkActive="current">Mitt Ramschema</a></li>
            <li><a routerLink="/info" routerLinkActive="current">Projekt Beskrivning</a></li>
        
           
        </ul>
    </nav>
</header>