nav {
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
     min-height: 10vh;
  background: linear-gradient(rgba(163, 178, 238, 0.215), rgba(41, 1, 151, 0.447), rgba(1, 18, 86, 0.452));
  backdrop-filter: blur(8px) brightness(1.1);
  box-shadow: 10px 0 10px 10px rgba(118, 122, 249, 0.552);
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  list-style: none;
  gap: gap 2rem;
}
nav img {
  width: 100px;
}

nav li {
  margin: 1rem;

  cursor: pointer;
}

nav a {
  border-radius: 0.4rem;
  padding: 1rem;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

nav a:hover {
  border-radius: 0.4rem;
  text-decoration: none;
}

.current {
  background: rgb(174, 182, 255) !important;
}

/* resonsive nav burger */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
  background: #ffe641;
}

@media only screen and (max-width: 769px) {
  nav ul {
    display: none;
  }

  .burger {
    display: flex;
  }

  nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;

    left: 0;
    top: 5rem;
    background: linear-gradient(
      rgb(1, 18, 86),
      rgb(41, 1, 151),
      rgb(1, 18, 86)
    );
    z-index: 5;
    width: 70%;
    padding: 10px 5px;
    color: #ffe641;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 1rem 0;
    width: 100%;
  }

  nav a {
    background: none;
    color: #ffde08;
    width: 100%;
  }

  nav a:hover {
    background: none;
  }

  .current {
    background: rgb(174, 182, 255) !important;
    padding: 1rem;
  }
}
