 
<header>
    <nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul>
            <li><a routerLink="/home" routerLinkActive="current">Startsida</a></li>
            <li><a routerLink="/ramschema" routerLinkActive="current">Min Ramschema</a></li>
            <li><a routerLink="/info" routerLinkActive="current">Projekt Beskrivning</a></li>
        
           
        </ul>
    </nav>
</header>