<header>
    <nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo"><a href="#"><img src="../../../assets/images/logo-Dark.png" alt="logo"></a></div>
        <ul>
            <li><a class="nav-a" routerLink="/home" routerLinkActive="current">Hem</a></li>
            <li><a class="nav-a" routerLink="/education" routerLinkActive="current">Utbildning</a></li>
            <li><a class="nav-a" routerLink="/ramschema" routerLinkActive="current">Mitt Ramschema</a></li>
            <li><a class="nav-a" routerLink="/info" routerLinkActive="current">Projekt Beskrivning</a></li>
        </ul>
    </nav>
</header>
