.intro-img {
  background-image: url(../../../assets/images/1.jpg);
  width: 100%;
  height: 100vh;

  background-position: center;
  background-size: cover;
  filter: brightness(0.4);
}
.intro {
  width: 100%;
}
.intro-text {
  width: 100%;
  
 
}

.intro-text h2 {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;

  height: 100vh;
  padding: 0 4rem;
  text-shadow: 2px 2px 5px #effdfc;
}
.no-courses{
  padding: 1rem;
}
.text-quote {
  z-index: 5;
}
.ramschema-container {
  margin: 5rem auto;
  width: 80%;
}
.ramschema-info {
  background: var(--green-100);
  padding: 2rem 3rem;
  border-radius: 0.8rem;
}
.ramschema-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: blur(8);
}
.ramschema-img {
  filter: blur(8);
}
button {
  background-color: var(--red-400);
}
button:hover {
  background-color: var(--red-300);
}
.export-button{
  background: var(--green-500);
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
 
  border-radius: 0.3rem;
  width: fit-content;
}
.export-button:hover{
  background: var(--green-400);
 


}
p {
  line-height: 3rem;
}
.card {
  background: var(--green-100);
  padding: 3rem 0.2rem;
  border-radius: 0.8rem;
}
th {
  background: var(--green-100);
}
.tfooter td {
  background: var(--green-100);
  color: var(--blue-900);
}
.hidden-tr {
  display: none;
}//Skriv över Primgng initiala stil
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--green-100) !important;
 
  color: #0f766e !important;
}
@media screen and (max-width: 769px) {
  .ramschema-container {
    margin: 20vh auto;
    width: 95%;
  }
    .course-filter-fileds {
      display: none;
    }
    .card {
      border-radius: 0.8rem;
      padding: 3rem 0.2rem;
      margin: 2rem 0;
    }
    th {
      display: flex;
      width: 30px;
    }

    tr,
    td {
      display: block;
      width: 100%;
    }

    .responsive-tr {
      display: none;
    }

    .hidden-tr td {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
    .hidden-tr-span {
      font-weight: bold;
    }
    .hidden-tr {
      display: block;
    }
    .hidden-th {
      display: none;
    }
    .table-header {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .tfooter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    
    .table-header th {
      width: 34% !important;
    }
    tr {
      font-size: 0.9rem !important;
    }

    tr {
      margin: 1rem 0;
      overflow: scroll;
      padding: 0.4rem 0.3rem;
    }
    td {
      margin: 0.4rem 0;
    }
    button {
      padding: 0.3rem 0.5rem;
      font-weight: 400;
      font-size: 0.8rem;
      width: fit-content;
    }
    .filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .intro-text h2 {
     
      font-size: 1.2rem;
      font-weight: 400;
      height: 100vh;  letter-spacing: 0.5px;
      line-height: 25px;
    }
    .ramschema-info {
 
      padding: 2rem 1rem;
   
    }
  }
 
