<div class="video-container">
    <div class="intro-text">
        <h1>Utbildning</h1>
        <p>
         <i> Utforska vårt omfattande utbud av över 4000 kurser, både på distans och på plats. Vi strävar efter att erbjuda utbildning av högsta kvalitet och har varit ett av de bästa universiteten i Sverige.  </i>
        </p>
      
      </div>
    <video #videoPlayer autoplay loop muted playsinline>
      <source src="../../../assets/videos/2024-05-27 02-40-42.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
<div class="education-container">
  
    <div class="education-info">
        <h2>Våra Kurser</h2>
        <hr>

        <p>Här kan du enkelt hitta och lägga till kurser som passar dina studiebehov. Kurslistan är din guide
            till att hitta de kurser som är relevanta för ditt studieprogram och att ansöka om rätt program.</p>

        <p>Med Kurslistan kan du utforska olika kurser och hitta de som passar bäst för din akademiska utveckling. Vårt
            användarvänliga gränssnitt gör det enkelt att söka efter kurser, läsa om deras innehåll och fundera över
            vilka som bäst matchar dina intressen och mål.</p>

        <p>Vi strävar efter att göra processen att hitta och välja kurser så smidig som möjligt för dig. Oavsett om du
            är ny student eller redan mitt i dina studier, finns här verktygen för att guida dig genom ditt akademiska
            val.</p>
    </div>
    <br><br>
    <app-course-list></app-course-list>
</div>
<!-- scroll to top -->
<p-scrollTop styleClass="custom-scrolltop" [threshold]="200" icon="pi pi-arrow-up" />