/* Globala stiler */
 
  
  body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(236, 236, 255);
    color: rgb(0, 8, 72);
  }
  main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  
    gap: 2rem;
  
    min-height: 100vh;
    padding: 1rem 3rem;
  }
  
  /* Globala media queries */
  @media screen and (max-width: 769px) {
    body {
      font-size: 1rem;
    }
    main {
      width: 100%;
      margin: 0 auto;
      padding: 0 1rem;
    }
  }
  @import "primeng/resources/themes/lara-light-teal/theme.css";
  @import "primeng/resources/primeng.css";